<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/header.ejs") %>
    <form action="/pokemon/<%= data.id %>?_method=PUT" method="post">      
      Name: <input type="text" name="name" value="<%= data.name %>"/><br> 
      Type: <input type="text" name="type" value="<%= data.type %>"/><br>
      Stats: <input type="number" name="stats" value="<%= data.stats %>"/><br>
      <input type="submit" value="Update Pokemon"/>
  </form>
  <%- include("./partials/footer.ejs") %>
</body>
</html>

    <!-- <main>
        <div>
          <form action="/pokemon/<%= data.id %>?_method=PUT" method="post">
            <fieldset>
              <legend>Edit a <%= data.name %></legend>
              <label>
                NAME:<input
                  type="text"
                  name="name"
                  value="<%= data.name %>"
                  placeholder="enter pokemon name"
                />
              </label>
              <label>
                STATS:<input
                  type="text"
                  name="stats"
                  value="<%= data.stats %>"
                  placeholder="enter stats"
                />
              </label>
            <input type="submit" value="Update Pokemon" />
          </form>
        </div>
      </main>
      <br><a href="/pokemon">Back to Pokedex</a></br>
      <%- include("./partials/footer.ejs") %>  
    </body>
  </html> -->
