<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/header.ejs") %>
    <div>
        <h1>Pokedex</h1>
        <!-- <button href="/pokemon/new">Add new pokemon</button> -->
        <form action="/pokemon/new">
            <input type="submit" value="Add new pokemon" />
        </form>
    </div>
    <div class="pokemon-list">
        <% for(let i = 0; i < data.length; i++){ %>
                <a href="/pokemon/<%= i %>">
                    <div class="box"><img src="<%= data[i].img %>" alt="Avatar" class="avatar"></div>
                </a>        
        <% } %> 
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>