<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/header.ejs") %>
    <h1>Pokedex Entry</h1>
    <% for(let i = 0; i < data.length; i++){ %>
        <form action="/pokemon/new/<%= data[i].id %>" method="get">
            <div class="container">
                <h3><%= data[i].name %></h3>
                Type:
                <div>
                    <% for(let j = 0; j < data[i].type.length; j++){ %>
                        <ul><%= data[i].type[j] %></ul>        
                    <% } %>
                </div>
                Stats:   
                <div>
                    <ul>HP: <%= data[i].stats.hp %></ul>
                    <ul>Attack: <%= data[i].stats.attack %></ul>    
                    <ul>Defense: <%= data[i].stats.defense %></ul>    
                </div>  
                <br><img src="<%= data[i].img %>" alt="Avatar" class="avatar"></br>
                <input type="submit" value="Add New Pokemon" />
            </div>
        </form>
    <% } %> 
    </div>
    <br><a href="/pokemon">Back to Pokedex</a></br>
    <%- include("./partials/footer.ejs") %>    
</body>
</html>