<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/header.ejs") %>
    <h1>New Pokemon</h1>
    <form action="/pokemon" method="POST">
        <h2><%= data.name %></h2>  
            <ul>
                <% for(let i = 0; i < data.type.length; i++){ %>
            
                    <h3>Type: <%= data.type[i] %></h3>
                         
                <% } %>
            <h3>HP: <%= data.stats.hp %></h3>
            <h3>Attack: <%= data.stats.attack %></h3>
            <h3>Defense: <%= data.stats.defense %></h3>
            </ul>
            <br><img src="<%= data.img %>" alt="Avatar" class="avatar"></br>
    </ul>
    </form>
    <br><a href="/pokemon">Back to Pokedex</a></br>
    <%- include("./partials/footer.ejs") %>    
</body>
</html>