<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Show</title>
</head>
<body>
    <h1>Pokedex Entry</h1>
    <h2>Name: <%= data.name %></h2>     
            <ul>
                <% for(let i = 0; i < data.type.length; i++){ %>
            
                    <h3>Type: <%= data.type[i] %></h3>
                         
                <% } %>
            <h3>HP: <%= data.stats.hp %></h3>
            <h3>Attack: <%= data.stats.attack %></h3>
            <h3>Defense: <%= data.stats.defense %></h3>
            </ul>
            <br><img src="<%= data.img %>" weight= 100px height= 100px></br>
    </ul>
    <br><a href="/pokemon">Back to Pokedex</a></br>
</body>
</html>